/* 


  |Colours

*/

  
  $plain-white: #FFF;
  $basic-black: #333;
  $light-black: #555;
  $basic-gray: #777;
  $light-gray: #DFDFDF;
  $hexo: #1483CD;


  $border-color: $light-black;
  $body-background: $plain-white;

  $body-text: $basic-black;

  $active-link: $light-black;
  $active-link-alt: $hexo;
  $hover-link: $hexo;
  $visited-link: $basic-black;

  $code-background: $plain-white;
  $code-border: $light-gray;